@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --red-hat-font: 'Red Hat Display';

}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -100px;
  font-size: 16px;
  font-family: var(--red-hat-font), sans-serif;
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-family: var(--red-hat-font);
}

img.bg {
  height: 40vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}



/* Order box styles */

.order-box {
  max-width: 400px;
  height: 75vh;
  border-radius: 15px;
}

/* Box Image Styles */
.hero-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 100%;
}

.top {
  border-radius: 15px 15px 0 0;
  height: 30%;
  width: 100%;
  background-color: yellow;
}


/* Box Bottom Styles */
.bottom {
  height: 70%;
  text-align: center;
  padding: 40px;
  box-shadow: 0px 0px 20px  rgb(185, 185, 185);
  clip-path: inset(0px 0px -10px 0px);
}

/* Order Summary Test Styles */
.summary{
  height: 40%;
}
h1 {
  font-size: 23 px;
  color: var(--dark-blue);
  padding: 10px 0;
}
.summary p{
  font-size: 14px;
  color: var(--desaturated-blue);
}


/* Pricing Plan Styles */
.plan-box {
  width: 100%;
  height: 20%;
  background: hsla(225, 100%, 98%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.music-icon {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.music-emoji {
  color: var(--desaturated-blue);
  padding: 10px 15px;
  background-color: var(--pale-blue);
  border-radius: 100%;
  font-size: 20px;
}
.annual-plan {
  text-align: left;
  width: 40%;
}
.annual-plan p{
  color: var(--dark-blue);
}
.year-price {
  color: var(--desaturated-blue);
}

.change-btn {
  width: 30%;
  font-weight: 700;
  color: var(--bright-blue);
  /* background-color: gray;   */
}
.change-btn a:hover {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-weight: 500;
}

/* Button Styles */
.checkout-buttons{
  padding-top: 20px;
  height: 40%;
  }

button {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}

button.payment {
  background-color: var(--bright-blue);
  border: 0;
  color: white;
  margin: 10px 0;
  transition: 0.3s;
  box-shadow: 0px 1px 4px var(--desaturated-blue);
}

button.payment:hover {
  background-color: var(--desaturated-blue);
}

button.cancel {
  background-color: white;
  /* background-color: purple; */
  border: 0;
  border-color: white;
  color: var(--desaturated-blue);
  font-weight: 700;
}
button.cancel:hover {
  color: var(--dark-blue)
}


footer {
  position: absolute;
  bottom: 10px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 500px) {
  body {}

  img {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .order-box {
    width: 90vw;
    height: 90vh;
  }

  .bottom{
    padding: 60px 40px;
  }

  .summary{
    height: 40%;
    padding: 20px ;
  }
}